<div class="container__big-card">
  <!-- mockado -->

  <div class="big-card__photo">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB60SLyQRP2y-4P6A_4pItHFSqV_6k6ktn6g&usqp=CAU"
    alt=""
    height="200px"
    srcset="">
  </div>

    <div class="big-card__title">
      <h1><a href="#">Novidades do Iron Man</a></h1>
    </div>

    <div class="big-card__description">
      <p>
        <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla mauris nec fringilla rutrum. Mauris feugiat purus sed lectus tincidunt aliquam.
        </a>
      </p>
    </div>

</div>
