.container__menu__title {
  color: white;
}

.container__menu__title h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: center;
}

.container__menu__title hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
