@media screen and (max-width: 360px) {
  .container__small-card {
    width: 360px;
    margin-bottom: 15px;

    flex-direction: row;
  }
  .container__small-card-content {
    flex-direction: row-reverse;
  }

  .small-card__photo img {
    width: 150px;
    min-width: 150px;
    margin-right: 30px;
  }


  .small-card__title {
    width: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  .small-card__title h1 {
    font-size: 15px;
  }

  .container__small-card-separator {
    margin-top: 10px;
    width: 100%;
  }
}
